<%= form_tag '/' do %>
    <%= text_field_tag :product, params[:product] %>
    <%= submit_tag "add to cart" %>
<% end %>

<h1> Your Current Cart: </h1>
  <% if @cart.empty? %>
    <p> Your cart is empty </p>
  <% else %>
    <% cart.each do |product| %>
        <%= product %>
  <% end %>
<%end %>
